[submodule "dot.vim/bundle/git"]
	path = dot.vim/bundle/git
	url = git://github.com/motemen/git-vim.git
[submodule "dot.vim/bundle/hatena"]
	path = dot.vim/bundle/hatena
	url = git://github.com/motemen/hatena-vim.git
[submodule "dot.vim/bundle/neocomplcache"]
	path = dot.vim/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "dot.vim/bundle/quickrun"]
	path = dot.vim/bundle/quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "dot.vim/bundle/ref"]
	path = dot.vim/bundle/ref
	url = git://github.com/thinca/vim-ref.git
[submodule "dot.vim/bundle/vimfiler"]
	path = dot.vim/bundle/vimfiler
	url = git://github.com/Shougo/vimfiler.git
[submodule "dot.vim/bundle/vimproc"]
	path = dot.vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "dot.vim/bundle/unite"]
	path = dot.vim/bundle/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule "dot.vim/bundle/unite-outline"]
	path = dot.vim/bundle/unite-outline
	url = git://github.com/h1mesuke/unite-outline.git
[submodule "dot.vim/bundle/neco-ghc"]
	path = dot.vim/bundle/neco-ghc
	url = git://github.com/ujihisa/neco-ghc.git
[submodule "dot.vim/bundle/altercmd"]
	path = dot.vim/bundle/altercmd
	url = git://github.com/kana/vim-altercmd.git
[submodule "dot.vim/bundle/onlinejudge"]
	path = dot.vim/bundle/onlinejudge
	url = git://github.com/eagletmt/onlinejudge-vim.git
[submodule "dot.vim/bundle/ghci"]
	path = dot.vim/bundle/ghci
	url = git://github.com/eagletmt/ghci-vim.git
[submodule "dot.vim/bundle/vimshell"]
	path = dot.vim/bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "dot.vim/bundle/gist"]
	path = dot.vim/bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule "dot.vim/bundle/pathogen"]
	path = dot.vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
