[submodule "dot.vim/bundles/git"]
	path = dot.vim/bundles/git
	url = git://github.com/motemen/git-vim.git
[submodule "dot.vim/bundles/hatena"]
	path = dot.vim/bundles/hatena
	url = git://github.com/motemen/hatena-vim.git
[submodule "dot.vim/bundles/neocomplcache"]
	path = dot.vim/bundles/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "dot.vim/bundles/quickrun"]
	path = dot.vim/bundles/quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "dot.vim/bundles/ref"]
	path = dot.vim/bundles/ref
	url = git://github.com/thinca/vim-ref.git
[submodule "dot.vim/bundles/vimfiler"]
	path = dot.vim/bundles/vimfiler
	url = git://github.com/Shougo/vimfiler.git
[submodule "dot.vim/bundles/vimproc"]
	path = dot.vim/bundles/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "dot.vim/bundles/vimshell"]
	path = dot.vim/bundles/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule "dot.vim/bundles/onlinejudge"]
	path = dot.vim/bundles/onlinejudge
	url = git://github.com/eagletmt/onlinejudge-vim.git
[submodule "dot.vim/bundles/altercmd"]
	path = dot.vim/bundles/altercmd
	url = git://github.com/kana/vim-altercmd.git
[submodule "dot.vim/bundles/unite"]
	path = dot.vim/bundles/unite
	url = git://github.com/Shougo/unite.vim.git
[submodule "dot.vim/bundles/eskk"]
	path = dot.vim/bundles/eskk
	url = git://github.com/tyru/eskk.vim.git
[submodule "dot.vim/bundles/ghci"]
	path = dot.vim/bundles/ghci
	url = git://github.com/eagletmt/ghci-vim.git
[submodule "dot.vim/bundles/unite-outline"]
	path = dot.vim/bundles/unite-outline
	url = git://github.com/h1mesuke/unite-outline.git
[submodule "dot.vim/bundles/neco-ghc"]
	path = dot.vim/bundles/neco-ghc
	url = git://github.com/ujihisa/neco-ghc.git
