@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("news4vip.livedoor.biz") {  /* {{{ */
  /* original: http://az-store.nrym.org/archive/kawatarou/note/opera/2chblogcss.htm */
  * {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 100% !important;
  }

  div#banner table, div.newsflash, div.pager, h2.date, div.article_tags,
  div.amazlet-box, div.posted, div.menu, div.trackbackurlbody, div#trackback,
  div#comment, div#takecomment, div#formbody, hr, div.pagetop, div#left,
  div#right { display: none; }

  body { background: #e8ffff !important; }

  div#banner {
    background: none !important;
    padding: 0.5em 0.6em !important;
    height: auto !important;
    font-size: 160% !important;
    color: green !important;
    font-weight: bold !important;
  }

  div#wrapper, div#content { float: none !important; }

  div#container, div#banner, div#blogcontainer, div#wrapper, div#content,
  div#blog { width: auto !important; }

  div#articlebody { background: none !important; }

  div#content { margin: 1em !important; }

  div.blogbody {
    background: #eff9f9;
    border: 2px #5e98ff solid;
  }

  h3.title {
    border: none !important;
    padding: 0.5em 1em !important;
    color: white !important;
    font-size: 120% !important;
    background: #5e98ff !important;
  }

  div.main, div.mainmore {
    padding: 1em !important;
    font-size: 90% !important;
    font-weight: bold !important;
  }

  div.aa, div.rr, div.r1, div.r2, div.r3, div.r4 {
    color: black !important;
    font-size: 110% !important;
    font-weight: normal !important;
    margin-left: 1em !important;
  }
} /* }}} */

@-moz-document domain("alfalfalfa.com") { /* {{{ */
  /* original: http://az-store.nrym.org/archive/kawatarou/note/opera/2chblogcss.htm */
  * {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 100% !important;
  }

  div.tmk, div.keyword, div.b2, div.an, div.menu7, div.mv, div.Hleft, div.mrr,
  div.menu4, div.menu6, div.takecommenthead, div.trackbackhead,
  div#commentbody, div#formbody, blockquote > div.main, div.description,
  div.posted4, div.datebody, iframe, div.menu3, div.posted3,
  div.menu,
  div#left,
  div#right,
  div#footer,
  div#outfooter,
  img[src="http://alfalfa.livedoor.biz/h_b.gif"],
  a[href^="http://hb.afl.rakuten.co.jp/"],
  a[href^="http://pt.afl.rakuten.co.jp/"],
  a[href^="http://www.amazon.co.jp/"] { display: none !important; }

  div#wrapper, div#content { float:none !important; }

  div#container, div#blogcontainer, div#wrapper, div#content {
    width: auto !important;
  }

  body { background-color: #f2e8c6 !important; }

  div.blogbodybottom{ border: none !important; }

  div#banner {
    background: none !important;
    border: none !important;
    padding: 0.8em 1em !important;
  }

  h1.blogtitle { font-size: 160% !important; }

  div.titlebody {
    border: none !important;
    padding: 1em !important;
    background-color: #dbbb8c;
  }

  h1.title { font-size: 120% !important; }

  h1.title a { color: black !important; }

  div#content { margin: 1em !important; }

  div.main, div.mainmore {
    padding: 1em !important;
    font-size: 90% !important;
    font-weight: bold !important;
  }

  div.rr, div.r1, div.r2 {
    color: black !important;
    font-size: 110% !important;
    font-weight: normal !important;
    margin-left: 1em !important;
  }
} /* }}} */

@-moz-document domain("waranote.blog76.fc2.com") { /* {{{ */
  h1, iframe, div#secondary-column, div.entry-footer, hr, table, div.fc2_footer,
  h5#comment-top, h4.comment-post, div.kakikomi { display: none !important; }

  * { margin: 0 !important; }

  div.entry-body { margin-top: 2em; padding: 2% 2% !important; }
  
  div#primary-column { width: 100% !important; }
} /* }}} */

@-moz-document domain("majikichisokuhou.blog34.fc2.com") { /* {{{ */
  #header_outline, .plugin1_outline, .plugin2_outline,
  .plugin3_outline, .ently_navi, .comment_outline,
  .trackback_outline, #kanrendesu, hr, .amazlet-box
  { display: none !important; }

  #center-left { width: 100% !important; }
  #center { width: 100% !important; }

  .ently_body { background: lemonchiffon; font-size: small !important; }

  .ently_title { background: sandybrown !important; background-image: none !important; }
} /* }}} */

@-moz-document domain("kanasoku.blog82.fc2.com") { /* {{{ */
  div.header, div#submenu, div#headline, div.left, div#headrank, div.right,
  div.cent_nepre, div.entryadd, iframe, div.comment > form, div.comment > ol,
  div.cate_relation, div.entry_state, div.entry_bottom, div.post_tw,
  div.comment_top, div.trackback,
  div.tt > br:nth-last-child(1), div.tt > br:nth-last-child(2),
  div.tt > br:nth-last-child(3),
  div.ao > br:nth-last-child(1), div.ao > br:nth-last-child(2),
  div.ao > br:nth-last-child(3),
  div.ak > br:nth-last-child(1), div.ak > br:nth-last-child(2),
  div.ak > br:nth-last-child(3),
  table { display: none; }

  * { font-family: sans-serif !important; }
  div.aa { font-family: "HenryAA" !important; }

  div.tt { padding-bottom: 1em !important; }
  div.comment_body { padding-bottom: 0 !important; }

  div#content, div.cent { width: 100% !important; }
  div.entry, div.entry_body,
  div.comment, div.prev_next { width: auto !important; }
} /* }}} */

@-moz-document url-prefix("http://blog.livedoor.jp/news23vip/") {  /* {{{ */
  #sub, #extra, #blog-description, #recent-entry, #trackbacks-wrapper,
  .article-footer + center {
    display: none !important;
  }

  #main { width: auto !important; }
  .article-body { font-size: medium !important; }
  font { font-size: medium !important; }
  #blog-title > a { display: none; }
  #blog-title:after { content: "VIPPERな俺"; }
} /* }}} */

@-moz-document url-prefix("http://blog.livedoor.jp/insidears/") {  /* {{{ */
  #links, #content > center, .rsstc, #banner > center > a, .main > div {
    display: none !important;
  }

  #banner > center:after { content: "【2ch】ニュー速VIPブログ(`･ω･´)"; font-size: large; }

  #container, #content { width: auto !important; }

  .title { font-size: larger !important; color: inherit !important; }

  .main { line-height: 100% !important; }
  .main font { font-size: medium !important; }

  .aa {font-family: "Osaka-AA" !important; font-size: medium !important; }

  .comments-body { line-height: 90% !important; margin: 0 !important; }
  .comments-post { margin: 0 !important; }

} /* }}} */

@-moz-document url-prefix("http://blog.livedoor.jp/himasoku123/") {  /* {{{ */
  #sub, #extra, .himajin-headline, .google-user-ad, .resstrong, .wareclass_frame,
  iframe, .article-body-more > dl > hr {
    display: none !important;
  }

  #blog-title > a { display: none; }
  #blog-title:after { content: "暇人＼(＾o＾)／速報"; }

  #main { width: auto !important; }

  .article-title { font-size: large !important; }
  .article-body { line-height: 1 !important; }
  .resdeka, .resdeka2 { font-size: large !important; font-weight: medium !important; }

} /* }}} */

@-moz-document domain("mudainodqnment.blog35.fc2.com") { /* {{{ */
  #header, .left_outline, .right_outline, .menu_title3, .menu_cont3,
  .article > center, .article > hr, .amazlet-box, .menu_title,
  .menu_title + font + div, .menu_title + font > li {
    display: none !important;
  }

  #main_body > table { width: 100%; }

  .left_outline + td > br { display: none; }

  .article > br { line-height: 2px; } */
  .article > ol > br + br { display: none; }

  .comment_navi { margin-bottom: 5px !important; }
} /* }}} */

@-moz-document domain("hamusoku.com") { /*{{{*/
  #sub, #extra, .topbox, .blog-title-outer, .wareclass_frame, .google-user-ad,
  .article-body > strong, .article-body > hr, .amazlet-box
  { display: none !important; }

  .column-inner { margin: 0 !important; }

  br + br + br { display: none; }
  .article-body-inner > span > span, .article-body-inner > span,
  .article-body-more > span > span, .article-body-more > span {
    font-size: medium !important;
  }

  span {
    font-size: medium !important;
  }
} /*}}}*/
/* vim: set et ts=2 sw=2 fdm=marker: */

