@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain(www.pixiv.net) {
  .ads_area { display: none !important }
}

@-moz-document url-prefix(http://ivory.ap.teacup.com/nagaharuhenyo2/) {
  #sidemenu, #sidemenu2 { display: none !important; }
}

@-moz-document url-prefix(http://blog.livedoor.jp/wakusoku/) {
  #sub, #extra, .article-footer, .column-inner-2 > table {
    display: none !important;
  }
}

@-moz-document url-prefix(http://stalker.livedoor.biz/) {
  .rss_outline, .rss_outline2, .fullbody, #leftbody, #rightbody {
    display: none !important;
  }
}

@-moz-document domain(alfalfalfa.com) {
  .wk, .fullbody, #leftbody, #rightbody, .Hleft, .mrr, .menu, .menu4, .menu6, .mv, #comment {
    display: none !important;
  }
}

