@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.pixiv.net") {
  .ads_area { display: none !important }
}

@-moz-document url-prefix("http://blog.livedoor.jp/goldennews/") {
  #kiziue, #topparts, #leftbody, #rightbody, .date, .rakuten_under,
  .trackbackurlbody, .related-articles {
    display: none !important;
  }
}

@-moz-document domain("d.hatena.ne.jp") {
  #keyword-amazon, .keyword-ad, .ad { display: none !important; }
}

@-moz-document domain("www.mediafire.com") {
  div#catfish_div { display: none !important; }
}

div#ESSSEARCH_FRAME,
div#re-search,
div#ReSearchFormWrapper { display: none !important }

