/* http://userstyles.org/styles/22322 */
@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix("http://www.nicovideo.jp/watch/"),
               url-prefix("http://nine.nicovideo.jp/watch/") {
  div.tag_sync,
  #ichiba_placeholder,
  #ichiba_placeholder + div,
  #PAGEFOOTER > noscript:first-child + p.mb8p4 {
    display : none !important;
  }
}

@-moz-document url-prefix("http://live.nicovideo.jp/watch/") {
  #ichiba,
  #toTop {
    display : none !important;
  }
  #footer {
    border-top-style : none !important;
  }
}
