@-moz-document domain("pixiv.net") {
  /* pixiv */
  #pageAdver,#logo,#nav .subnav,.adver_top,.adver_topBottom,.adver_Rightcolumn,.area_rightNews,.adver_footer,.adver_footerBottom,.adver_footer,.two_column_top,.new_works2,.ads_area,.rankingLeft,.rankingRight{display: none !important;}
  #header .header_right_area{float:left !important;margin:0px !important;width:970px !important;}
  .pixivSearch{float:right !important;margin:0px !important;clear:none !important;}
  .header_otehrs_ul {width:auto !important; padding:0 !important;padding-left:0px !important;}
  .header_menu {width:500px !important;padding:0 !important;}
  .header_otehrs{width:460px !important;}
  .works_area,.search_a2_result{padding-top:0 !important;}
  #tag_area{padding:0 !important;margin:0 !important;}
  #header,.header_inner {padding:0 !important;height:30px !important;}
  #header .header_otehrs .clear {clear:none !important;}
  .centeredNavi ul li{line-height: 29px !important;}
  .my_info{line-height:1.1em !important;}
  .works_display{margin:5px 0 !important;}
  .top_display_works li,.search_a2_result li{margin:0 0 15px !important;}

  #logoRightAdver { display: none }
}

