[Unit]
Description=Dropbox

[Service]
Type=forking
ExecStart=/usr/bin/dropbox start
ExecStop=/usr/bin/dropbox stop
Restart=always

[Install]
WantedBy=default.target
